# Токен бота от @BotFather
BOT_TOKEN=ваш_токен

# API ключ от OpenRouter.ai
OPENROUTER_API_KEY=ваш_ключ

# Модель ИИ (например: openai/gpt-3.5-turbo)
AI_MODEL=ваша_модель


# Промт для нейросети
AI_PROMPT=Напиши цитату из книги "{book}" автора {author} и краткое описание, соблюдая правила:
1. **Цитата**:
   - Должна быть заключена в кавычки (")
   - Максимально отражать суть произведения
   - Быть эмоционально заряженной или философски глубокой
2. **Описание**:
   - Объем: 250-350 слов
   - Структура:
     * Кратко о сюжете (без спойлеров)
     * Основные темы и идеи
     * Почему книга актуальна/чем вдохновляет
   - Стиль: мотивирующий, но без клише
   - Используй естественный язык, как в дружеской беседе. Можно добавить 1-2 уместных эмодзи в описании
3. **Формат**:
   "Цитата..."

   [Описание абзацами, разделенными пустой строкой]


#Описание должно быть развернутым, минимум 3 абзаца по 4-5 предложений
#Анализируй ключевые символы и скрытые метафоры, но без академического жаргона



# ID канала (начинается с @ или -100)
ADMIN_CHANNEL_ID=ваш_канал


